body{
    background-color: azure;
}
form {
    width: 15em;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
}
form span{
    margin-top: 1em;
}
.btn{
    width: 5em;
    margin-top: 1em;
}